<html>
    <head>
        <link rel="stylesheet" href="../../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="open-download-manifest.css">
    </head>
    <body>
        <div class="row">
            <div class="col">
                <table class="table table-hover table-sm">
                    <thead>
                        <th>Game</th>
                        <th>Channel</th>
                        <th>Description</th>
                        <th><!-- Download --></th>
                    </thead>
                    <tbody id="tblGameList">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-primary btn-sm" onclick="openManifest()">Open Manifest file</button>
            </div>
        </div>
    </body>
    <script src="open-download-manifest.js"></script>
</html>
